body {
    margin: 0;
    box-sizing: border-box;
    background-color: #123bac;
    color: #f1f1f1;
    transition: all 1s ease-in
}

.container {
    max-width: 700px;
    margin: 0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.dark {
    background-color: #123bac;
    color: #f1f1f1;
    transition: all 1s ease-in;
}

.sun {
    background-color: #fff;
    color:#123bac;
    transition:all 1s ease-in
}


.toggle {
    width: 100px;
    display: flex;
    border-radius: 150px;
    border: 1px solid #333;
    background-color:#f1f1f1;
    margin-top: 45px;
    cursor: pointer;
}

.toggle--on > .toggle__child {
    margin-left: 46px;
    background-color: #5595d6;
}

.toggle__child {
    transition: margin-left 0.5s ease-in-out;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #5595d6;
}

.form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    max-width: 390px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
    text-align: center;
 
}

.input {
    padding: 15px;
    width: 260px;
    border-radius: 10px;
    border: 1px solid #123bac;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 15px;
}

.btn {
    width: 288px;
    padding: 15px;
    border-radius: 10px;
    background-color:#4465d1;
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #f1f1f1;
}

.natija {
    width: 248px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #123bac;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    
}